@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top:1%; text-align:justify;">
            <img src="~/images/av.jpg" alt="..." class="img-circle" style="width:30%; padding:2%;" align="left"/>
            <h1>Lorem ipsum</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi a luctus felis, sit amet faucibus nisl. Nullam vel augue facilisis, feugiat dui in, dictum enim. Proin eget ornare risus, quis lobortis ligula. Aenean sem leo, consequat non ligula eget, elementum dictum erat. Vestibulum sagittis accumsan placerat. Vestibulum dictum venenatis tortor at iaculis. Praesent sed diam accumsan, aliquet lacus a, scelerisque mauris. Nulla facilisi. Proin efficitur ultricies suscipit. Mauris et dui sed ex ultricies imperdiet. Quisque vehicula commodo est, sit amet sodales nisl consequat sit amet. Aliquam tempor consectetur est, quis sagittis nibh suscipit vel. Proin sed pellentesque arcu, ac tincidunt mi. Nam pellentesque sem quis ligula pharetra mollis.
            </p>
            <p>
                Donec sit amet ipsum arcu. Donec iaculis finibus metus, sit amet ullamcorper nulla pharetra id. Fusce ullamcorper dapibus gravida. Pellentesque quis quam risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
        </div>
    </div>


    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2> Tutaj 1 czesc</h2>
            <span class="text-info">
                Donec sit amet ipsum arcu. Donec iaculis finibus metus, sit amet ullamcorper nulla pharetra id. Fusce ullamcorper dapibus gravida. Pellentesque quis quam risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </span>
        </div>
        <div class="col-md-4">
            <h2> Tutaj 2 czesc</h2>
            <span class="text-info">
                Donec sit amet ipsum arcu. Donec iaculis finibus metus, sit amet ullamcorper nulla pharetra id. Fusce ullamcorper dapibus gravida. Pellentesque quis quam risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </span>
        </div>
        <div class="col-md-4">
            <h2> Tutaj 3 czesc</h2>
            <span class="text-info">
                Donec sit amet ipsum arcu. Donec iaculis finibus metus, sit amet ullamcorper nulla pharetra id. Fusce ullamcorper dapibus gravida. Pellentesque quis quam risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </span>
        </div>
    </div>


    <hr />
    <div class="row text-center">
        <div class="col-md-6">
            <dl>
                <dt>
                    Programowanie
                </dt>
                <dd>
                    Jezyk c#, c++, SQL, PHP i HTMl
                </dd>
            </dl>
            <div class="progress">
                <div class="progress-bar"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width:80%; background-color: rgba(174,233,0,1);">
                    80%
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    Fotografia
                </dt>
                <dd>
                    Portret, Krajobraz, Makro
                </dd>
            </dl>
            <div class="progress">
                <div class="progress-bar"
                        role="progressbar"
                        aria-valuenow="65"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width:65%; background-color: rgba(174,233,0,1);">
                    65%
                </div>
            </div>
        </div>
    </div>


    <hr />
    <div class="row text-center">
        <div class="col-sm-2">
            <!--Facebook-->
            <span class="icon-facebook" style="font-size:5em"></span>
        </div>
        <div class="col-sm-2">
            <!--Twitter-->
            <span class="icon-twitter" style="font-size:5em"></span>
        </div>
        <div class="col-sm-2">
            <!--YouTube-->
            <span class="icon-youtube" style="font-size:5em"></span>
        </div>
        <div class="col-sm-2">
            <!--Instagram-->
            <span class="icon-instagram" style="font-size:5em"></span>
        </div>
        <div class="col-sm-2">
            <!--Snapchat-->
            <span class="icon-snapchat-ghost" style="font-size:5em"></span>
        </div>
        <div class="col-sm-2">
            <!--pinteres-->
            <span class="icon-pinterest" style="font-size:5em"></span>
        </div>
    </div>
</div>