
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1>do poprawy, nie dziala na tel</h1>
    <div class="row" style="margin-top:1%">

    <!------------------------------------>
        <div class="col-md-3">
            <img class="img-responsive" 
                 id="image_1"
                 src="~/images/1.jpg" 
                 alt="..." />
            
            <img class="img-responsive" 
                 id="image_5"
                 src="~/images/4.png" 
                 alt="..."
                 style="margin-top:5%"/>
        </div>
    <!------------------------------------>
        <div class="col-md-3">
            <img class="img-responsive" 
                 id="image_2"
                 src="~/images/2.jpg" 
                 alt="..." />

            <img class="img-responsive" 
                 id="image_6"
                 src="~/images/3.jpg" 
                 alt="..."
                 style="margin-top:5%"/>
                 
        </div>
    <!------------------------------------>
        <div class="col-md-3">
            <img class="img-responsive"
                 id="image_3"
                 src="~/images/3.jpg" 
                 alt="..." />

            <img class="img-responsive" 
                 id="image_7"
                 src="~/images/1.jpg" 
                 alt="..."
                 style="margin-top:5%"/>
        </div>
    <!------------------------------------>
        <div class="col-md-3" >
            <img class="img-responsive" 
                 id="image_4"
                 src="~/images/4.png" 
                 alt="..." />

            <img class="img-responsive" 
                 id="image_8"
                 src="~/images/2.jpg" 
                 alt="..."
                 style="margin-top:5%"/>
        </div>
    <!------------------------------------>

    </div>
</div>