
<div class=" row">
    <h2>Avatar: </h2>
    <div class="col-md-4 text-center" style="padding-top:1%;">
        <img src="~/Resources/images/av.jpg" alt="..." class="img-rounded" style="width:50%; padding:2%;" align="middle" />
    </div>
    <div class="col-md-8">
        <div class="form-group" style="margin-top:10%">
            <input type="file" value="Nowy plik" disabled />
        </div>
    </div>
</div>