
@{
    ViewBag.Title = "HomeContent";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2>HomeContent</h2>
<hr />
@Html.Partial("_HomeContentAvatar")
<hr />
@Html.Partial("_HomeContentMain")
<hr />
@Html.Partial("_HomeContentSubDesc")
<hr />

<div class="row">
    <div class=" col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>